{% extends "base.html" %}

{% block title %}Productos - Artes Marciales{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h5>Registrar Producto</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Registrar Producto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}